<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='homepageStyles.css') }}">
    <title>EHR Text Extraction</title>
</head>
<body>
    <div class="uploadform">
        <div>
        <form action="/upload" method="POST" enctype = "multipart/form-data">
            <label class="file">
                <input type='file' name='file'/>
                Upload Zip File Here
            </label>
            <input type='submit'/>
        </form>
        </div>
    </div>
    <p>
        {{message}}
    </p>


</body>
</html>